{% extends 'base.html' %}
{% load static %}

{% block title %}Checkout{% endblock title %}


{% block main-content %}
    <div class="container">
        {% if messages %}
            {% for msg in messages%}
                <div class="alert alert-danger" role="alert">
                    {{msg}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row mt-5">
            <div class="col-md-6 mb-5">
                <h4>Order Summery</h4>
                {% for item in cart_items %}
                    <div class="card mb-2 shadow">
                        <div class="card-body  bg-primary bg-opacity-10 bg-gradient rounded">
                            <div class="row">
                                <div class="col-4">
                                    <img src="{{item.product.product_image.url}}" alt="" class="img-fluid img-thumbnail shadow" width="150" height="150">
                                </div>
                                <div class="col-8">
                                    <h5>Product: {{item.product.title}}</h5>
                                    <p>Quantity: {{item.quantity}}</p>
                                    <p class="fw-bold">Price: {{item.product.discounted_price}} DH</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <p class="fw-bold text-end">Total Cost + 50.00 DH = {{total_amount}} DH</p>
                <p class="alert alert-warning"><b>Term and Condition :</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit doloremque, voluptate voluptas adipisci quod nam perspiciatis fugiat corrupti maxime rem perferendis tempora explicabo non. Rerum quaerat molestias ad ipsam. Inventore.</p>
            </div>
            <div class="col-md-4 offset-md-1 mb-5">
                <h4>Select Shipping Address</h4>
                <form method="post" id="myForm">
                    {% csrf_token %}
                    {% for ad in add%}
                        <div class="card shadow">
                            <div class="card-body bg-primary bg-opacity-10 bg-gradient rounded">
                                <h5>{{ad.name}}</h5>
                                <p>Mobile: {{ad.mobile}}</p>
                                <p>{{ad.locality}} {{ad.city}} {{ad.state}} - {{ad.zipcode}}</p>
                            </div>
                        </div>
                        <div class="form-check mt-2 mb-5">
                            <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}"/>
                            <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
                                Address: {{forloop.counter}}
                            </label>
                        </div>
                    {% endfor %}
                    <div class="form-check mb-3 px-3">
                        <label for="totalamount">Total Amount</label>
                        <div class="input-group mb-3 mt-1">
                            <input type="number" class="form-control" name="totalamount" value="{{total_amount}}" readonly />
                            <span class="input-group-text" id="basic-addon1">DH</span>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-warning fw-bold my-3 px-3">Continue</button>
                    </div>
                </form>
                <div class="card shadow mt-3">
                    <div class="card-body bg-primary bg-opacity-10 bg-gradient rounded">
                        <div class="row">
                            <div class="col">
                                <i class="fa-brands fa-cc-paypal fa-2x"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-google-pay fa-2x"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-cc-amazon-pay fa-2x"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-apple-pay fa-2x"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-cc-mastercard fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}

{% block payment-gateway %}

{% endblock payment-gateway %}