{% extends 'profile.html' %}
{% load static %}

{% block title %}Password Changed Done{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="card shadow">
                <div class="card-body text-center bg-primary bg-gradient bg-opacity-10 rounded">
                    <h3>Password Changed Successfully!!!</h3>
                    <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}